---
import DefaultLayout from "../layouts/DefaultLayout.astro";

---


<DefaultLayout>
    <div class="flex flex-wrap md:flex-nowrap rounded overflow-hidden shadow-lg p-3 md:p-6 md:my-6 w-full md:w-3/5 md:ml-16 gap-2">
        <img src="cocacola.jpg" class="md:shrink mx-auto md:mx-0 md:w-[200px] inline-flex self-center">
        <div>
            <h2 class="mt-6 mb-3 text-gray-600  text-lg"><em>Quienes Somos</em></h2>
            <p class="text-gray-500">CASITA CREATIVA es un movimiento no gubernamental sin fines de lucro que promueve la inclusión social a partir de experiencias artísticas. Para esto planeamos y ejecutamos talleres y eventos junto a artistas ecuatorianos que ofrecen su talento en servicio a los que más lo necesitan.</p>
        </div>
    </div>
    <div class="rounded overflow-hidden shadow-lg p-3 md:p-6 md:my-6 w-full md:w-3/5 md:mr-16 md:float-right">
        <h2 class="mt-6 mb-3 text-gray-600  text-lg"><em>ARTE Y CREATIVIDAD en Servicio</em></h2>
        <p class="text-gray-500">El arte y la creatividad son herramientas de transformación social y personal; proponen una estructura inclusiva donde se borran las diferencias de género, culturales, funcionales, etc., y se rescatan valores como el trabajo en equipo, la solidaridad y la reciprocidad. El proceso creativo también es un vehículo para la curación, la comunicación, la autoexpresión.</p>
    </div>
    <div class="rounded overflow-hidden shadow-lg p-3 md:p-6 md:my-6 w-full md:w-3/5 md:ml-16">
        <h2 class="mt-6 mb-3 text-gray-600  text-lg"><em>Nuestra Mision</em></h2>
        <p class="text-gray-500">Ofrecemos terapia y herramientas de trabajo , a través del ARTE. Generamos oportunidades para las personas y muy especialmente para aquellas que sufren la exclusión social o que están en situación de vulnerabilidad , con nuevas formas de integración. Creamos experiencias que promueven el bienestar social y el arte por medio de TALLERES DE EDUCACION CREATIVA Y ARTE TERAPIA. Cada taller tiene un programa diferente dependiendo de las necesidades del grupo objetivo</p>
    </div>
    <div class="rounded overflow-hidden shadow-lg p-3 md:p-6 md:my-6 w-full md:w-3/5 md:mr-16 md:float-right">
        <h2 class="mt-6 mb-3 text-gray-600  text-lg"><em>Vision</em></h2>
        <p class="text-gray-500">Casita creativa Misiones de artistas por todo el mundo- Voluntariado internacional. La idea es que hayan casitascreativas en diferentes oasis donde los artistas- personas puedan llegar, promover el turismo y la obra social, cumplen su estadía con #horas de voluntariado y tienen techo y comida gratis o por un precio mínimo.</p>
    </div>
    <div class="rounded overflow-hidden shadow-lg p-3 md:p-6 md:my-6 w-full md:w-3/5 md:ml-16">
       <h2 class="mt-6 mb-3 text-gray-600  text-lg"><em>Beneficiarios</em></h2> 
       <p class="text-gray-500">Nos enfocamos en personas de sectores marginales con alto riesgo social y personas con capacidades especiales. Ponemos en contacto a educadores, artistas, sociólogos terapeutas y otros trabajadores para ser capaces de intuir el potencial de las personas y ayudar en el desarrollo de sus habilidades artísticas.</p>
    </div>
    
    <!-- <p>UBICACIÓN-ESPACIO
        Las actividades de inicio, desarrollo y acabado, se llevan a cabo según el programa, en
        LOS ALBERGUES DONDE SE ENCUENTRAN LOS BENEFICIARIOS
        *refrigerio Y materiales incluidos</p>
    <p>PUNTOS TRABAJADOS
        Albergue CAMI PASCUALES, FUNDACION ELOY ALFARO, FUNDACION SOR
        DOMINGO BOCA, FUNDACION PAN TO GO, FUNDACION JOVENES EN ACCION,
        FUNDACION HOGAR INES CHAMBERS, FUNDACION ETI SOCIO VIVIENDA 2
        TALLERES ESPECIALES PARA EL PUBLICO, ART 4 HEALING®,
        CERTIFICACION NACIONAL DE ARTE Y CREATIVIDAD CURATIVA
        *Incluye GALERIA DE FOTOS CON TRABAJO SOCIAL (CONTENIDO IG)</p> -->
</DefaultLayout>