---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Carousel from '../components/Carousel.astro';


let allSlides = await Astro.glob('./slides/*.md');
---


<DefaultLayout>
	<p class="md:hidden max-w-[80%] mb-16 text-center text-sm text-gray-400 font-serif"><em>El deseo más grande del hombre es el de conectar, esta necesidad humana nos recuerda lo que tenemos en común , el amor. No buscamos lógica en un acto de bondad, solo lo sentimos.</em></p>
	<Carousel slides={allSlides} />
</DefaultLayout>
