---
import DefaultLayout from "../layouts/DefaultLayout.astro";

---

<DefaultLayout>
    <p>
        EL QUE DA ATENCIÓN, CUIDADO, ENFOQUE, DA TIEMPO Y ENERGÍA, DA VALOR A
        LOS DEMÁS
        INCLUYE TEXTO:
        Somos la generación que puede cambiarlo todo , pero no podremos hacerlo si no nos
        cuidamos los unos a los otros .

        VOLUNTARIO INDIVIDUAL
        El voluntario activo realiza diversas labores vitales para el buen funcionamiento de
        CASITA CREATIVA tales como apoyo en la gestión de proyectos , logística ,
        administración y en el trabajo de campo y participa en los eventos organizados.
        Padrinos artistas
        **APORTA CON TUS HABILIDADES ...QUIERES SER VOLUNTARIO?
        lo mejor que podemos ofrecer es lo que somos
        SOLO SE NECESITAN GANAS DE COMPARTIR

        VOLUNTARIO CORPORATIVO
        Trabajamos en colaboración y alianzas estratégicas con marcas enfocadas en la
        responsabilidad social.
        Las marcas participan activamente en el desarrollo de las actividades auspiciadas en
        CASITA CREATIVA.
        **ENTRA AL CLUB -Programa corporativos voluntariado con COACHING

        nuestros programas para Entidades que también quieran regalar la experiencia del
        voluntariado a sus colaboradores .
        COACHING DESCUBRIR*

        MENTORING A CHILD -PADRINO
        Creemos en la posibilidad de involucrar tanto a quienes buscan aprender como a quienes
        buscan enseñar... QUIERES SABER MAS ? CONTACTANOS

        VOLUNTARIADO INTERNACIONAL
        “Ayudar a la gente a descubrir sus habilidades da un sentido de propósito, logro y
        posibilidad.Visita Ecuador y Comparte tu TALENTO CON NOSOTROS
</p>
</DefaultLayout>