---
import { SITE } from '../config';
import Nav from './Nav.astro';
---
<header class="md:w-3/4 md:rounded mx-auto md:mt-6 md:flex md:flex-col items-center bg-white">
	<!-- <img class="w-36 md:w-52" src="logo.jpg" /> -->
	<p class="mx-3 md:m-8 text-center text-sm md:text-base text-gray-500 font-serif md:max-w-[60%]"><em>El deseo más grande del hombre es el de conectar, esta necesidad humana nos recuerda lo que tenemos en común , el amor. No buscamos lógica en un acto de bondad, solo lo sentimos.</em></p>
	<Nav></Nav>
</header>

