---
import { SITE } from '../config';
---
<header class="flex flex-col items-center bg-white">
	<img class="mb-4 w-48 md:w-64" src="logo.jpg" alt="coca cola" />
	<p class="m-8 text-center text-gray-500 font-serif"><em>El deseo más grande del hombre es el de conectar, esta necesidad humana nos recuerda lo que tenemos en común , el amor. No buscamos lógica en un acto de bondad, solo lo sentimos.</em></p>
</header>

