---
import { MarkdownInstance } from 'astro';
import CarouselSlide from './CarouselSlide.astro'

// allSlides = allSlides.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

export interface Props {
    slides: MarkdownInstance<Record<string, any>>[]
}

const { slides } = Astro.props;
---

<div id="home-carousel" class="w-screen md:w-full h-[50vh] md:max-w-[80%] md:h-[40vh] mx-auto overflow-hidden relative bg-white">
    {slides.map((s) => <CarouselSlide slide={s} />)}
</div>

<script is:inline>
       
    
    const firstSlide = document.querySelector('#home-carousel').firstElementChild;
    firstSlide.classList.remove('translate-x-full');
    firstSlide.classList.remove('opacity-0');
    firstSlide.classList.add('translate-x-0');


    function nextSlide(){
        let activeSlide = document.querySelector('.slide.translate-x-0');
        activeSlide.classList.add('opacity-0');
        activeSlide.classList.remove('translate-x-0');
        
        let nextSlide = activeSlide.nextElementSibling;
        if(!nextSlide){
            firstSlide.classList.remove('opacity-0');
            firstSlide.classList.remove('translate-x-full');
            firstSlide.classList.add('translate-x-0');
        } else {
            nextSlide.classList.remove('opacity-0');
            nextSlide.classList.remove('translate-x-full');
            nextSlide.classList.add('translate-x-0');
        }
        setTimeout(() => {
            activeSlide.classList.add('translate-x-full')
        }, 1000);
    }  

    window.onload = () => {
        setInterval(() => {
            nextSlide();
        }, 3000)
    }


</script>