---

---

<nav>
    <ul class="flex justify-around">
        <a href="/"><li class="hover:bg-sky-200 inline-block inline-flex p-3">Home</li></a>
        <a href="/blogposts"><li class="hover:bg-sky-200 inline-block inline-flex p-3">Posts</li></a>
        <li class="hover:bg-sky-200 inline-block inline-flex p-3">About Us</li>
        <li class="hover:bg-sky-200 inline-block inline-flex p-3">Visión</li>
        <li class="hover:bg-sky-200 inline-block inline-flex p-3">Contacto</li>
    </ul>
</nav>