---

---

<nav id="nav" class="fixed z-10 top-0 md:relative w-full bg-white flex flex-wrap justify-between items-center">
   
    <button class="border border-2 h-12 w-12 ml-3 border-blue-400 rounded float-right relative block md:hidden">
        <svg
        xmlns="<http://www.w3.org/2000/svg>"
        id="menu-button"
        class="h-9 w-9 mx-auto stroke-blue-400 z-10"
        fill="none"
        viewBox="0 0 24 24"
        >
            <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
            />
        </svg>
    </button>
    <a href="/" class="md:hidden">
        <img src="logo.jpg" class="w-16 mb-2 inline-block" alt="">
    </a>
    <div class="invisible w-12 h-12 md:hidden"></div>
    <ul class="hidden opacity-0 md:opacity-100 w-full flex md:flex flex-col md:flex-row md:static md:justify-around">
        <li class="hover:bg-sky-100 inline-block inline-flex grow text-center"><a class="p-3 w-full h-full" href="/">Home</a></li>
        <li class="hover:bg-sky-100 inline-block inline-flex grow text-center"><a href="/about" class="p-3 w-full h-full">Quiénes Somos</a></li>
        <li class="hover:bg-sky-100 inline-block inline-flex grow text-center"><a href="/voluntariado" class="p-3 w-full h-full">Voluntariado</a></li>
        <li class="hover:bg-sky-100 inline-block inline-flex grow text-center"><a href="/voluntariado" class="p-3 w-full h-full">Galería</a></li>
        <li class="hover:bg-sky-100 inline-block inline-flex grow text-center"><a class="p-3 w-full h-full" href="/blog">Blog</a></li>
        <li class="hover:bg-sky-100 inline-block inline-flex grow text-center"><a href="#" class="p-3 w-full h-full">Contáctanos</a></li>
    </ul>
</nav>

<script>
    const mobileMenuButton = document.querySelector('#menu-button') as SVGElement;
    const menu = document.querySelector('nav > ul') as HTMLElement;



    mobileMenuButton.onclick = (event) => {
        menu.classList.toggle('hidden');

        // mobileMenu.classList.toggle('z-0');
        // mobileMenu.classList.toggle('overflow-hidden');
        // mobileMenu.classList.toggle('-top-full');
        // mobileMenu.classList.toggle('top-12');
        // mobileMenu.classList.toggle('z-10');
        menu.classList.toggle('opacity-0');
        // mobileMenu.classList.toggle('translate-y-0');
        // mobileMenu.classList.toggle('translate-y-0');
    }
</script>